In [5]:
#Import pandas
import pandas as pd

In [10]:
#Create a series of three different colours
color_series = pd.Series(["Yellow", "Blue", "Red"])

In [11]:
#View the series of different colours
color_series

0    Yellow
1      Blue
2       Red
dtype: object

In [14]:
#Create a series of three different car types and view it
car_types =pd.Series(["Honda", "Toyata", "Ford"])
car_types

0     Honda
1    Toyata
2      Ford
dtype: object

In [17]:
#Combine the Series of cars and colours into a DataFrame
car_color = pd.DataFrame({"Car": car_types, "Color": color_series})
car_color

      Car   Color
0   Honda  Yellow
1  Toyata    Blue
2    Ford     Red

In [30]:
#Import "../data/car-sales.csv" and turn it into a DataFrame
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [37]:
#Export the DataFrame you created to a .csv file
exported_car_sales = car_sales.to_csv("exported-car-sales.csv", index =False)

In [48]:
#Find the different datatypes of the car data DataFrame
exported_car_sales =pd.read_csv("exported-car-sales.csv")
exported_car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [50]:
#Describe your current car sales DataFrame using describe()
car_sales_description = car_sales.describe()

print(car_sales_description)
exported_car_sales

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [51]:
#Get information about your DataFrame using info()
car_sales_info = car_sales.info()

print(car_sales_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes
None